<!-- apps/main/templates/template_admin/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="icon" type="image/png" href="{% static 'assets/img/favicon1.png' %}" />
    <title>
    	{% block title %}
    	{% endblock title %}
    </title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <!-- CSS Libraries -->
    <!-- <link rel="stylesheet" href="../node_modules/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="../node_modules/weathericons/css/weather-icons.min.css">
    <link rel="stylesheet" href="../node_modules/weathericons/css/weather-icons-wind.min.css">
    <link rel="stylesheet" href="../node_modules/summernote/dist/summernote-bs4.css"> -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    
    {% block custom_css %}
    {% endblock custom_css %}

    <style type="text/css">
        ul.errorlist{
            margin: -7px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>

            <!-- Navbar -->
            {% include 'template_admin/navbar.html' %}
            <!-- Navbar // -->

            <!-- Sidebar -->
            {% include 'template_admin/sidebar.html' %}
            <!-- Sidebar // -->

            <!-- Main Content -->
            <div class="main-content">
                <section class="section">

                    <!-- Page title -->
                    <div class="section-header">
                        <h1>{% block page_title %}{% endblock page_title %}</h1>
                    </div>
                    <!-- Page title end -->

                    <!-- Messages for error or success -->
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == "success" %}
                    <div class="alert alert-success">
                        {{message}}
                    </div>
                    {% endif %}
                    {% if message.tags == "error" %}
                    <div class="alert alert-danger">
                        {{message}}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <!-- Messages for error or success end -->

                    <!-- Main page content -->
                    {% block main_page_content %}{% endblock main_page_content %}
                    <!-- Main page content end -->

                </section>
            </div>
            <!-- Main Content // -->

            <!-- Footer -->
            <footer class="main-footer">
                <div class="footer-left">
                	Copyright &copy; <span style="padding:5px; border: 1px solid #6777EF; color:#6777EF;">ING AFTER 60</span> 2022

                    <div class="bullet"></div>
                    Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
                </div>
                <div class="footer-right">
                    2.3.0
                </div>
            </footer>
            <!-- Footer // -->

        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="{% static 'assets/js/stisla.js' %}"></script>
    <!-- JS Libraies -->
    <!-- <script src="../node_modules/simpleweather/jquery.simpleWeather.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="../node_modules/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="../node_modules/summernote/dist/summernote-bs4.js"></script>
    <script src="../node_modules/chocolat/dist/js/jquery.chocolat.min.js"></script> -->
    <!-- Template JS File -->
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- Page Specific JS File -->
    <script src="{% static 'assets/js/page/index-0.js' %}"></script>

    {% block custom_js %}
    {% endblock custom_js %}

    <script>
        document.getElementById("title").onkeyup=function(){
            document.getElementById("url_slug").value=document.getElementById("title").value.toLowerCase().replace(" ","-");
        }
    </script>
</body>
</html>