<!-- apps/main/templates/template_admin/category_list.html -->
{% extends 'template_admin/base.html' %}

<!-- Block title -->
{% block title %}
Category list | Dashboard
{% endblock title %}

<!-- Block custom css -->
{% block custom_css %}
{% endblock custom_css %}

<!-- Block page title -->
{% block page_title %}
Category List
{% endblock page_title %}

<!-- Block main page content -->
{% block main_page_content %}
<div class="row">
	{% for category in categories_list %}
	<!-- Category card -->
	<div class="col-12 col-sm-6 col-md-6 col-lg-3">
        <article class="article article-style-b">
            <div class="article-header">
                <div class="article-image" data-background="{{category.thumbnail.url}}" style="background-image: url(&quot;../assets/img/news/img13.jpg&quot;);">
                </div>
                <div class="article-badge">
                    <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i>{{category.title}}</div>
                </div>
            </div>
            <div class="article-details">
                <p>Desc: {{category.description}}</p>
                <p>Url slug: {{category.url_slug|title}}</p>
                <div class="article-cta">
                	<label 
                		class="custom-switch mt-2" 
                		style="float:left; padding-left: 0px;">
                        <input 
                        	type="checkbox" 
                        	name="custom-switch-checkbox" 
                        	class="custom-switch-input" 
                        	{% if category.is_active == 1 %} checked {% endif %}>
                        <span class="custom-switch-indicator"></span>
                        <span class="custom-switch-description">Active</span>
                     </label>
                    <a 
                    	href="{% url 'main:CategoriesUpdateView' category.id %}" 
                    	class="btn btn-warning">Edit <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </article>
    </div>
    <!-- Category card end -->
	{% endfor %}
</div>	
{% endblock main_page_content %}

<!-- Block custom js -->
{% block custom_js %}

{% endblock custom_js %}

