<!-- apps/main/templates/template_admin/home.html -->
{% extends 'template_admin/base.html' %}

<!-- Blok title -->
{% block title %}
Admin | Dashboard
{% endblock title %}
<!-- Blok title end -->

<!-- Block custome css -->
{% block custom_css %}

{% endblock custom_css %}
<!-- Block custome css end -->

<!-- Block page title -->
{% block page_title %}
Dashboard
{% endblock page_title %}
<!-- Block page title end -->

<!-- Block main page content -->
{% block main_page_content %}
<h2>Simple Dashboard Empty Page</h2>
{% endblock main_page_content %}
<!-- Block main page content end -->

<!-- Block custome js -->
{% block custom_js %}

{% endblock custom_js %}
<!-- Block custome js end -->
